<ion-view title="Assignments">
	<ion-nav-buttons side="right">
		<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<nov-content>
		<h1>Upcoming</h1>
		{{date | date:'yyyy-MM-dd'}}
		<nov-frame class="assignments"
			   ng-repeat="assignment in assignments | upcomingAssignments">
					<novButton>{{assignment.name}} due {{assignment.dueDate}}</novButton>
		</nov-frame>

		
		<h1>Past</h1>	
		<nov-frame class="assignments"
			   ng-repeat="assignment in assignments | pastAssignments">
					<novButton>{{assignment.name}} due {{assignment.dueDate}}</novButton>
		</nov-frame>
	</nov-content>

</ion-view>
