<ion-view title="Assignment">
	<ion-nav-buttons side="right">
		<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<nov-content>
		<h1>{{assignment.name}}</h1>
		<nov-frame class="assignment">
			Due {{assignment.dueDate}}
		</nov-frame>

		
		<nov-frame class="submission"
			ng-repeat="submission in submissions">
			<h1>Grade</h1>
			Worth {{assignment.weight}}%
			<span ng-if="submission.grade">
			</span>
			<h1>Comment</h1>
		</nov-frame>
	</nov-content>

</ion-view>
