<ion-view title="Assignments">
	<ion-nav-buttons side="right">
		<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<nov-content>
	
		<!-- List of upcoming assignments based on due dates. -->
		<h1>Upcoming</h1>
		<nov-long-button
			ng-repeat="assignment in assignments | upcomingAssignments"
			href="#/app/courses/{{ course.id }}/assignments/{{assignment.id}}"
			class="assignments {{ getSubmissionStatusColor(assignment.id)  }}">
		   
				<nov-button-contents-left>
					<h2>{{assignment.name}}</h2> 
				</nov-button-contents-left>
				<nov-button-contents-right>
					<h4>Due {{assignment.dueDate}} at {{ assignment.timeDue }}</h4>
				</nov-button-contents-right>

		</nov-long-button>
		
		<!-- Add assignment button -->
		<span ng-if="user == 'instructor'">
			<nov-long-button 
				class="pink" 
				href="#/app/courses/{{ course.id }}/assignments/create">
				
					<nov-button-contents-left>
						<h2>+ Add</h2>
					</nov-button-contents-left>
					<nov-button-contents-right></nov-button-contents-right>
					
			</nov-long-button>
		</span>
		
		<!-- List of past assignments based on due dates. -->
		<h1>Past</h1>	
		<nov-long-button ng-repeat="assignment in assignments | pastAssignments"
			href="#/app/courses/{{ course.id }}/assignments/{{assignment.id}}"
			class="assignments {{ getSubmissionStatusColor(assignment.id)  }}">
			
				<nov-button-contents-left>
					<h2>{{assignment.name}}</h2>
				</nov-button-contents-left>
				<nov-button-contents-right>
					<h4>Due {{assignment.dueDate}} at {{ assignment.timeDue }}</h4>
					<h4><b>{{getSubmissionStatus(assignment.id)}}</b></h4>
				</nov-button-contents-right>
				
		</nov-long-button >
		
	</nov-content>

</ion-view>
