<ion-view title="{{course.name}} Attendance">
	<ion-nav-buttons side="right">
		<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<nov-content>
		<h1>ATTENDANCE 2</h1>
		{{getDate()}} AT {{getTime()}}

		<nov-frame class="attendance">
			<h2><em>{{index}}</em> / <em>{{course.studentList.length}}</em> students marked</h2>
			<h1>{{course.studentList[index].name}}</h1><br>
			
			<div class="buttons">
				<nov-x-button class="left" ng-disabled="index > course.studentList.length - 1" ng-click="course.studentList[index].present = 'N'; increaseIndex();">
					<img src="css/img/icon_redxmark.png">
				</nov-x-button>

				<nov-check-button class="right" ng-disabled="index > course.studentList.length - 1" ng-click="course.studentList[index].present = 'Y'; increaseIndex();">
					<img src="css/img/icon_grades.png">
				</nov-check-button>

				<div class="clear"></div>
			</div>

			<!--Just for visualization/debug purposes
			<div ng-repeat="(name, present) in course.studentList">
				{{present.name}} : {{present.present}}
			</div>-->
		</nov-frame>



		<h1>SELECT STUDENTS</h1>
		
		<!--
			<select>
				<option disabled selected>UNMARKED</option>
				<option ng-repeat="(ind, student) in course.studentList | filter:{present: 'U'}">
					{{student.name}}
				</option>
			</select>
			<button type="submit" value>GO</button>

			<select>
				<option disabled selected>ABSENT</option>
				<option ng-repeat="(ind, student) in course.studentList | filter:{present: 'N'}">
					{{student.name}}
				</option>
			</select>

			<select>
				<option disabled selected>PRESENT</option>
				<option ng-repeat="(ind, student) in course.studentList | filter:{present: 'Y'}">
					{{student.name}}
				</option>
			</select><br>
		-->

			<table>
				<tr>
					<th>Name</th>
					<th>Present</th>
					<th>Edit</th>
				</tr>
				<tr ng-repeat="student in course.studentList">
					<td>{{student.name}}</td>
					<td>{{student.present}}</td>
					<td>
						<nov-button ng-click="student.present = 'Y'">Yes</nov-button>
						<nov-button ng-click="student.present = 'N'">No</nov-button>
						<nov-button ng-click="student.present = 'U'">Unmark</nov-button>
					</td>
				</tr>
			</table>
			
			<h1>SUBMIT</h1>
			<nov-frame>
			<h2>% WEIGHT</h2>
			<input type="number" min="0" max="100" placeholder="Weight"></input>

			<div>
				<button class="orange cancel left" ng-click="cancelAttendance()" href="#/app/courses/{{ course.id }}">
					CANCEL
				</button>

				<button class="right submit" ng-show="index > course.studentList.length - 1" href="#/app/courses/{{ course.id }}">
					FINISH
				</button>
				<div class="clear"></div>
			</div>

		</nov-frame>

	</nov-content>

</ion-view>