<ion-view title="{{ courseMaterial.name }}">
	<ion-nav-buttons side="right">
	<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<nov-content>
		<h1>{{courseMaterial.name}}</h1>
		
		<nov-frame>
			<open-external ng-if="courseMaterial.fileType == 'PDF'" url="courseMaterial.url">
				View
			</open-external>
			<div ng-if="courseMaterial.fileType == 'video'" youtube code="code"></div>
			<!--For students, download button should only be available if instructor allows it.-->
			<span ng-if="user == 'student'">
				<span ng-if="courseMaterial.download == true && courseMaterial.fileType == 'PDF'">
					<a href="{{courseMaterial.url}}" download>
						<button>Download</button>
					</a>
				</span>
			</span>
			<!-- Instructors can download all PDFs. -->
			<span ng-if="user == 'instructor' && courseMaterial.fileType == 'PDF'">
				<a href="{{courseMaterial.url}}" download>
					<button>Download</button>
				</a>
			</span>
			<hr>
			<ul>
				<li><b>Uploaded:</b> {{ courseMaterial.uploadDate }}</li>
				<li><b>Type:</b> {{ courseMaterial.fileType }}</li>
			</ul>
			<span ng-if="user == 'instructor'">
				<a href="#">Edit</a>
				<a href="#">Delete</a>
			</span>
		</nov-frame>

	
	</nov-content>

</ion-view>
