<ion-view title="New Course Material">
	<ion-nav-buttons side="right">
		<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<nov-content class="create">
		<!--Instructor options-->
		<span ng-if="user == 'instructor'">
			<h1>Create Course Material</h1>
			<form id="create-course-materials">
			<nov-frame class="title">
				<input type="text" ng-model="courseMaterial.name" placeholder="Add a title" required>
			</nov-frame>
			
			<nov-frame>
				<!--File uploader-->

				<!--Text editor needs a lot of styling TLC.-->
				<!--TextAngular https://github.com/fraywing/textAngular/ -->
				<text-angular ng-model="courseMaterial.editorData" 
					ta-toolbar-class="editor-btn-toolbar"
					ta-toolbar-button-class="editor-btn editor-btn-default"
					ta-toolbar-group-class="editor-btn-group">
				</text-angular>
				
				<div>
					<div class="options left">
						<h2>Choose File Type</h2>
						<select ng-model="courseMaterial.fileType" ng-options="option as option.name for option in fileTypeOptions">
								<option value="">-- Choose File Type --</option>
						</select>
						<div class="clear"></div>
					</div>
					<div class="options right">
						<div id="pdf-options" ng-if="courseMaterial.fileType.name=='PDF'">
							<h2>Upload file</h2>
							<input type="file" id="file" name="file" ng-model="courseMaterial.file" required/>
						</div>
						<div id="youtube-options" ng-if="courseMaterial.fileType.name=='video'">
							<h2>YouTube Link</h2>
							<input type="text" ng-model="courseMaterial.url" ng-if="courseMaterial.fileType.name == 'video'" placeholder="YouTube URL"/>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<nov-button class="submit" ng-click="upload(courseMaterial)">SUBMIT</button>
				
			</nov-frame>
		</form>
		</span>
	</nov-content>

</ion-view>
