<ion-view title="{{ course.name }}">
	<ion-nav-buttons side="right">
	<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<nov-content>
		<nov-course-icons></nov-course-icons>

		<span ng-if="user == 'instructor'">
			<!-- Adding Attendance Button -->
			<h1>Attendance</h1>

			<nov-long-button 
				href="#/app/courses/{{ course.id }}/attendance"
				class="pink">
				
				<nov-button-contents-left>
					<h2>Take Attendance</h2>
				</nov-button-contents-left>
				
				<nov-button-contents-right>
					<h3>VIEW <mark>&gt;</mark></h3>
				</nov-button-contents-right>
			</nov-long-button>
		</span>

		<h1>Course Materials</h1>
		<!--Instructor options for adding course materials. -->
		<span ng-if="user == 'instructor'">
			<nov-long-button 
				class="pink" 
				href="#/app/courses/{{ course.id }}/materials/create">
				<nov-button-contents-left>
					<h2>+ Add</h2>
				</nov-button-contents-left>
				<nov-button-contents-right>
				</nov-button-contents-right>
			</button>
		</span>
		
		<div class="course-options">
			<div class="course-search">
				<input type="search" placeholder="Search Materials" ng-model="searchText">
			</div>
			<div id="sort-options">
				<button ng-click="predicate = 'name'; reverse=!reverse">Sort by Name</button>
				<button ng-click="predicate = 'uploadDate'; reverse=!reverse">Sort by Date</button>
			</div>

			<div class="clear"></div>
		</div>
		
		<nov-long-button 
			href="#/app/courses/{{course.id}}/materials/{{material.id}}"
			class="materials"
			ng-repeat="material in materials | filter:{name:searchText} | orderBy:predicate:reverse">
			
				<nov-button-contents-left>
					<h2>{{material.name}}</h2>
					<h4><b>Type:</b> {{ material.fileType }}</h4>
				</nov-button-contents-left>
				
				<nov-button-contents-right>
					<h4>Posted {{ material.uploadDate }} </h4>
					<h3>VIEW <mark>&gt;</mark></h3>
				</nov-button-contents-right>
					
		</nov-long-button>

		<!--Show last 5 uploaded course material and assignments-->
		<h1>Notifications</h1>	
		<nov-frame class="notifications">
			<ul id="notifications" ng-repeat="notification in notifications | orderBy:predicate2:reverse | limitTo: 5">
				<li ng-if="notification.fileType">{{course.name}}: <a href="#/app/courses/{{course.id}}/materials/{{notification.id}}">{{notification.name}}</a> course material posted <span class ="notificationLeftSide">{{notification.uploadDate}}</span></li>
				<li ng-if="notification.totalGrade">{{course.name}}: <a href="#/app/courses/{{course.id}}/assignments/{{notification.id}}">{{notification.name}}</a> <span class = "notificationLeftSide">due {{notification.dueDate}}</span></li>
			</ul>
		</nov-frame>	
	</nov-content>

</ion-view>
