<ion-view title="Courses">
	<ion-nav-buttons side="right">
		<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	
	<nov-content>
		<h1>Your Courses</h1>
		
		<nov-frame class="course"
				   ng-repeat="course in getStudent().enrolledCourses">
						<nov-course-button href="#/app/courses/{{ course.id }}">
							<h1>{{ course.name }}</h1>
							<h4>{{ course.section + ' ' + course.semester }}</h4>
						</nov-course-button>
						<ul>
							<li><b>Instructor:</b> {{ course.instructor }}</li>
							<li><b>Role:</b> {{ course.role }}</li>
						</ul>
		</nov-frame>

		<!--Show last 10 uploaded course material and assignments-->
		<h1>Notifications</h1>	
		<nov-frame class="notifications">
			<ul id="notifications" ng-repeat="notification in notifications | orderBy:predicate:reverse | limitTo: 10">
				<li ng-if="notification.fileType">{{notification.course.name}}: <a href="#/app/courses/{{notification.course.id}}/materials/{{notification.id}}">{{notification.name}}</a> course material posted <span class ="notificationLeftSide">{{notification.uploadDate}}</span></li>
				<li ng-if="notification.totalGrade">{{notification.course.name}}: <a href="#/app/courses/{{notification.course.id}}/assignments/{{notification.id}}">{{notification.name}}</a> <span class = "notificationLeftSide">due {{notification.dueDate}}</span></li>
			</ul>
		</nov-frame>
	   
	</nov-content>
	
</ion-view>
