<ion-view title="Create Account">
	<nov-content class="loginBG">   
		<div class="register">
		
			<h1>Create Account</h1>
			<form ng-controller="RegisterCtrl">
				<div class="list">
						<!-- Labels for debugging login 
						<label class="err" ng-repeat="error in errors">
							{{error}}
						</label>
						-->
						<label class="info" ng-repeat="message in messages">
							{{message}}
						</label> 

						<label class="firstName" class="item item-input">
							<input type="text" placeholder="First Name" ng-model="firstName">
						</label>
						<label class="lastName" class="item item-input">
							<input type="text" placeholder="Last Name" ng-model="lastName">
						</label>
						<!-- Email input -->
						<label class="email" class="item item-input">
							<input type="text" placeholder="Email" ng-model="email">
						</label>
						<!-- Pasword input -->
						<label class="password" class="item item-input" >
							<input type="password" placeholder="Password" ng-model="pwd">
						</label>
					
				</div>
				<!-- Login button box -->
				<nov-button 
					type="submit"					

					ng-init="setMenuDrag(false)"
					ng-click="setMenuDrag(true); register()"


					nav-clear>
					CREATE ACCOUNT
				</nov-button>
			</form>
			
		</div>	
		
	</nov-content>
</ion-view>