<ion-view title="Novella">
	<nov-content class="loginBG">   
		<div class="login">
		
			<h1>SIGN IN</h1>
			<p>Login to your Novella account</p>
			<form ng-controller="servLoginCtrl">
				<div class="list">
						<!-- Labels for debugging login 
						<label class="err" ng-repeat="error in errors">
							{{error}}
						</label>
						-->
						<label class="info" ng-repeat="message in messages">
							{{message}}
						</label> 

						<!-- Email input -->
						<label class="email" class="item item-input">
							<input type="text" placeholder="Email" ng-model="email">
						</label>
						<!-- Pasword input -->
						<label class="password" class="item item-input" >
							<input type="text" placeholder="" ng-model="pwd">
						</label>
					
				</div>
				<!-- Login button box -->
				<nov-button 
					type="submit"					

					ng-init="setMenuDrag(false)"
					ng-click="setMenuDrag(true); logIn()"


					nav-clear>
					LOGIN
				</nov-button>
			</form>
		</div>	
		
	</nov-content>
	
			
		<!-- Bottom sign up bar -->
		<a class="footerBar"
			text-align="center"
			href="#/app/courses">
				<div class="fakeBar"></div>
				<h1>CREATE AN ACCOUNT &gt;</h1>
		</a>
	
</ion-view>