{% extends "base.html" %}

{% block title %}
	Login
{% endblock %}

{% block main %}
	<h1>Novella LMS</h1>
	<h2>Sign in</h2>
	<div>
		<form name="login" action="/lms/login/" method="post">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Enter email">
			<input type="password" name="password" placeholder="Enter password">
			<input type="submit" value="Login">
		</form>
	</div>

	<div></div>

	<div>
		<form name="sign up" action="/lms/register/" method="post">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Enter email">
			<input type="password" name="password" placeholder="Enter password">
			<input type="submit" value="Register">
		</form>
	</div>
{% endblock %}